Job Hunt Automation.json
{
  "name": "Job Hunt Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "830462a9-f523-45ce-9766-7ef4cf320ca1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "731f0a4c-1b68-4043-bff5-3450a20b83bb",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "business analyst",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8a5c189d-87dd-46db-8974-49026a1a3793",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "research fellow",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "437d5a01-1066-4e54-bffc-4eb0adcf2f82",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "assistant professor",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "3ec3623c-a9e6-4d3d-b025-6a1ef214d65e",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "lecturer",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1bcebdd9-6f98-454c-817a-0971ec960794",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "postdoc",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "55b7a0e3-c5cd-48ef-a206-f43d64e60109",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "teaching",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        656,
        0
      ],
      "id": "bb66967a-4579-4844-a0c4-ccfb5060e2ea",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const rawDescription = item.json.description || '';\n  const cleanDescription = rawDescription\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/\\s\\s+/g, ' ')\n    .trim()\n    .substring(0, 500);\n\n  const skills = item.json.skills?.map(s => s.skill).join(', ') || 'Not specified';\n\n  return {\n    json: {\n      title: item.json.title || 'Not specified',\n      company: item.json.postedCompany?.name || 'Not specified',\n      salary: `SGD ${item.json.salary?.minimum || '?'} - ${item.json.salary?.maximum || '?'}`,\n      job_type: item.json.employmentTypes?.[0]?.employmentType || 'Not specified',\n      link: item.json.metadata?.jobDetailsUrl || '',\n      posted_date: item.json.metadata?.newPostingDate || '',\n      description: cleanDescription,\n      skills: skills\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        0
      ],
      "id": "04043a1e-db2e-43de-a7f2-76f081088c7a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "767968074",
        "text": "=🆕 NEW JOB MATCH!\n\n💼 Role: {{ $json.title }}\n🏢 Company: {{ $json.company }}\n💰 Salary: {{ $json.salary }}\n📋 Type: {{ $json.job_type }}\n📅 Posted: {{ $json.posted_date }}\n\n📝 Description:\n{{ $json.description }}\n\n🛠 Skills Required:\n{{ $json.skills }}\n\n🔗 Apply Here:\n{{ $json.link }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        0
      ],
      "id": "8a4085d5-497d-4933-8b8c-67e11da04652",
      "name": "Send a text message",
      "webhookId": "13816411-a51b-4199-a14b-1a554a48d95e",
      "credentials": {
        "telegramApi": {
          "id": "AhmVbIBygLSoTYil",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1A5RPYBy1rqmmg13a30LUWaEN_Fo95k3s2gbtkWxIrDs",
          "mode": "list",
          "cachedResultName": "n8n Job Hunt Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5RPYBy1rqmmg13a30LUWaEN_Fo95k3s2gbtkWxIrDs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5RPYBy1rqmmg13a30LUWaEN_Fo95k3s2gbtkWxIrDs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Job Title": "={{ $('Code in JavaScript1').item.json.title }}",
            "Link": "={{ $('Code in JavaScript1').item.json.link }}",
            "Company": "={{ $('Code in JavaScript1').item.json.company }}",
            "Job Type": "={{ $('Code in JavaScript1').item.json.job_type }}",
            "Salary ": "={{ $('Code in JavaScript1').item.json.salary }}",
            "Description": "={{ $('Code in JavaScript1').item.json.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Type",
              "displayName": "Job Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary ",
              "displayName": "Salary ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Missing Skills",
              "displayName": "Missing Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        0
      ],
      "id": "eb30df08-d898-4f91-99a5-de920e140297",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yoewgU9fzJ2OhJHW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.mycareersfuture.gov.sg/v2/jobs?search=business+analyst&limit=100&page=0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "611c5f33-c9ee-4fdd-a393-1a3f21fd8b51",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "0e66a231-dd06-42fb-af82-3bd193a9fb41",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2680b4ff-f4e7-4081-822d-0350f8c384fd",
              "leftValue": "={{ $json.metadata.newPostingDate }}",
              "rightValue": "={{ $today.minus({days: 3}).toISODate() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        864,
        0
      ],
      "id": "24ecc9b0-275e-4e20-832d-d9f978eb760d",
      "name": "Filter1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "306291b4-8218-48b4-9524-095553b3d51b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "791f77d576dc36efd3c7a6e5b8fb44af31779c1ec449fcc1bc3aee14bac6b168"
  },
  "id": "7yUiMtl4OMngpYz7",
  "tags": []
}